extends ../layout/thpage_layout

block head
  - var title = 'Спасибо за заявку'
  // meta(http-equiv='refresh', content= '3; URL=index.html')
block content
  .t-page__back
    a(href="./index.html")
      | ←
      span  Вернуться на сайт
  .t-page__title Спасибо за обращение, <br> мы свяжемся с вами
  //- .t-page__title Мы отправили презентацию <br> на указаную почту
  //- .t-page__subtitle Вы можете войти в нее отсюда
  //- .t-page__mailers
    a(href="#")
      img(src="img/general/gmail.png", alt="image")
  .t-page__warning Если письма нет во входящих, проверьте папку «Промоакции» или «Спам»:<br> письмо могло попасть туда по ошибке.