mixin hidden()
  .hidden
    - formTitle = 'Укажите контактные данные и удобное время для звонка form11'
    +form1('', 'form11')
    - formTitle = 'Укажите контактные данные и удобное время для звонка form22'
    +form2('', 'form22')
    - formTitle = 'Укажите контактные данные и удобное время для звонка form1'
    +form1('', 'form1')
    - formTitle = 'Укажите контактные данные и удобное время для звонка form2'
    +form2('', 'form2')
    - formTitle = 'Что вы хотите узнать об отдыхе на Алтае?'
    +form3('', 'form3')
    - formTitle = ' А пока вы ждете, предлагаем получить презентацию о Солонешье. '
    +form4('', 'form4')
    - formTitle = 'Получите буклет о пользе, показаниях и противопоказаниях приема пантовых ванн  '
    +form5('', 'form5')
    - formTitle = ' Спасибо, что скачали наш буклет'
    +form6('', 'form6')
    - formTitle = ' Посмотрите презентацию о Солонешье в удобное время '
    +form7('', 'form7')
