mixin foot()
  footer.section#foot.foot.foot--bg(data-section="foot")
    .container
      .row
        .col-12
          +recall6('recall--foot')
      .row.foot-soc.row--aic
        .col-lg-6
          .foot__soc-desc Подписывайтесь на наши группы в социальных сетях, тогда вы точно не пропустите самое интересное
        .col-lg-5.offset-lg-1
          table.soc-box
            tr
              td
                a.soc-box__link(href="#")
                  +svg('vk')
              td
                a.soc-box__link(href="#")
                  +svg('fc')
              td
                a.soc-box__link(href="#")
                  +svg('od')
      .row.foot-bot
        .col-lg-6.col-md-6
          .foot__bot-desc 659650, Алтайский край, Бийский район, <br>с. Енисейское, ул. Братьев Щербаковых, дом 47, <br> св-во 22 №003989318 от 04.10.2016 г. <br> ОГРНИП 316222500120238, ИНН 040700361103
        .col-lg-6.col-md-6
          .foot__police
            a.police__link(href="#police", data-fancybox="foot_pol") Политика конфиденциальности




  //- .f-menu
  //-   ul.f-menu__list
  //-     li.f-menu__list-item.f-menu__list-item--active
  //-       a.f-menu__list-link(href="#top") 
  //-         span Главная
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#about") 
  //-         span Кто мы
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#guests") 
  //-         span Кто наши гости
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#baths") 
  //-         span Пантовые ванны
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#welcome") 
  //-         span История усадьбы
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#tours") 
  //-         span Экскурсии и туры
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#going") 
  //-         span Кухня
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#where") 
  //-         span Трансфер
  //-     li.f-menu__list-item
  //-       a.f-menu__list-link(href="#questions") 
  //-         span Вопросы и ответы















































//- 